build-essential
bzr
colord
cups-common
curl
gdb
gvfs
libcanberra-gtk0
libcanberra-gtk3-module
libcanberra-pulse
libgd-tools
libgl1-mesa-glx
liblcms2-utils
libqt5x11extras5
librsvg2-bin
libxkbcommon-x11-dev
libxss1
libxv1
pciutils
pkg-config
qt5dxcb-plugin
qt5-image-formats-plugins
qtwayland5
systemd-container
unzip
virtualenvwrapper
virtualenvwrapper-doc